[Match]
Property=ID_BUS=usb
Property=ID_VENDOR_ID=12d1
Type=ether

[Link]
RequiredForOnline=no

[Network]
DHCP=ipv4
IPv6AcceptRA=no
LinkLocalAddressing=no

[DHCPv4]
UseRoutes=no
UseGateway=no
UseDNS=no
UseNTP=no
UseHostname=no
SendHostname=no
